.PartUser{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lineHead {
    border: 1px solid rgba(128, 128, 128, 0.461);
    width: 72%;
 }
 .User-Place{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 1rem;
    direction: rtl;
    margin-bottom: 3rem;
 }
 .User-Place .Tab-Details{
    width: 21rem;
    height: 28rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 14px 11px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
 }
 .User-Place .Tab-Details .Name{
    width: 100%;
    text-align: center;
    overflow: hidden;  
    margin-top: 2rem;  
 }
 .User-Place .Tab-Details .Number{
    width: 80%;
    text-align: center;
    overflow: hidden;  
    margin-top: 1rem;  
    background-color: #E8E8E8;
    padding: 5px 0;
    font-size: 13px;
    margin-bottom: 1rem;
    border-radius: 10px;
 }
 .User-Place .Tab-Details h5{
    width: 90%;
    text-align: right;
    margin: 5px 0;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
 }
 .User-Place .Tab-Details .lineTab{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.602);
    margin: 1rem 0;
 }
 .User-Place .Tab-Details h5:hover{
    background-color: #B42A31;
    color: #fff;
 
 }
 .activeUser{
    background-color: #B42A31;
    color: #fff;
 }
 .Info-Tab{
    width: 60%;
    height: 28rem;
    margin-right: 2rem;
    overflow: hidden;
 }
 .Info-Tab .PageStyle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    overflow: auto;
    padding: 2px;
 }
 .ExtraHight{
   height: 40rem !important;
 }
 .Info-Tab .Pishkhan{
    flex-direction: column;
    background: url(/Images/v748-toon-107.jpg) no-repeat center center/cover;

 }
 .Info-Tab .EditUser{
    flex-direction: column;
    background: url(/Images/v748-toon-107.jpg) no-repeat center center/cover;

 }
 .Info-Tab .BillEdit{
    flex-direction: column;
    background-color: #F5F5F5;
    box-shadow: inset 0px 0px 20px 7px rgba(0,0,0,0.1);
 }

 .Info-Tab .Pishkhan h2{
    margin-top: 3rem;
    width: 50%;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 2rem;
 }
 .Info-Tab .Pishkhan .doubleItem{
   width: 80%;
   height: 6rem;
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .Info-Tab .Pishkhan .doubleItem h3{
   background-color: #fff;
   width: 45%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   border-radius: 10px;
 }
 .Info-Tab .Pishkhan  h3{
   background-color: #fff;
   width: 80%;
   height: 6rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   border-radius: 10px;
   margin-top: 2rem;
 }
 .Info-Tab .EditUser  h3{
   margin-top: 0.5rem;
   border-bottom: 1px solid black;
   width: 40%;
   text-align: center;
   padding: 10px ;

}
 .Info-Tab .EditUser .Input-Edit{
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 2rem;
   flex-wrap: wrap;
}
 .Info-Tab .EditUser .Input-Edit input{
   width: 45%;
   height: 2.5rem;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.467);
   margin: 5px 0;
   padding-right: 1rem;
}
 .Info-Tab .EditUser .Input-Edit input:nth-child(4){
   background-color: #D9D9D9;
   border: none;
}
 .Info-Tab .EditUser .Input-Edit input::placeholder{
  font-family: "Shabnam" ;
  color: rgba(0, 0, 0, 0.253);
   
}
 .Info-Tab .EditUser .Input-Edit textarea::placeholder{
  font-family: "Shabnam" ;
  color: rgba(0, 0, 0, 0.253);
   
}
 .Info-Tab .EditUser .Input-Edit textarea{
   width: 100%;
   height: 6rem;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.467);
   margin: 10px 0;
   padding: 1rem;
}
 .Info-Tab .EditUser button{
    width: 80%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: #fff;
    font-family: "Shabnam" ;
    cursor: pointer;
    margin-top: 0.5rem;
}
 .Info-Tab .EditUser button:hover{

    background-color: #B42A31;
    
}
.Info-Tab .BillEdit  h3{
    margin-top: 0.5rem;
    border-bottom: 1px solid black;
    width: 40%;
    text-align: center;
    padding: 10px ;
 
 }
.Info-Tab .BillEdit  .ListBill{
   width: 80%;
   margin-top: 1rem;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   height: 80%;
   overflow: auto;
 }
.Info-Tab .BillEdit h5{
   width: 100%;
   text-align: right;
   padding: 1rem 2rem;
   font-size: 11px;
   margin-bottom: -1rem;
 }
.Info-Tab .BillEdit .Row-Bill{
   width: 100%;
   margin: 5px 0;
   background-color: #fff;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   padding: 8px 1rem;
 }
.Info-Tab .BillEdit .Row-Bill h6{
   width: 70%;
   padding-right: 1.5rem;
 }
.Info-Tab .BillEdit .Row-Bill button{
    background-color: #D2EBFF;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 20px;
    font-family: "Shabnam" ;
    font-size: 11px;
 }
.Info-Tab .BillEdit .Row-Bill button:nth-child(3){
    width: 10rem;
    margin-right: 10px;
 }
 .listPlace{
   height: 40rem !important;
   flex-direction: column;
   overflow:auto;
 }

 .HeadForTable{
   width: 100%;
   height: 3rem;
   border: 1px solid #0C416D;
   border-radius: 7px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1rem;
   color: #0C416D;
   margin-bottom: 2rem;
 }

 .HeadForTable .ItemUser{
   width: 10rem;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .HeadForTable .ItemUser img{
   width: 20px;
   margin-right: 10px;
 }
 
 .HeadOfTable{
   width: 100%;
   height: 3rem;
  background-color: #D2EBFF ;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  direction: rtl;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  margin-bottom: 1px;
 }
 .HeadOfTable img{
   width: 1rem;
   height: 1rem;
   cursor: pointer;
 }
 .HeadOfTable h6{
   font-size: 11px;
   text-align: center;
 }
 .HeadOfTable h6:nth-child(2){
   width: 14rem;
}
.HeadOfTable h6:nth-child(3){
   width: 4rem;
}
.HeadOfTable h6:nth-child(4){
   width: 4rem;
}
.HeadOfTable h6:nth-child(5){
   width: 5rem;
}
.HeadOfTable h6:nth-child(6){
   width: 6rem;
 }

 .RowOfUserT{
   width: 100%;
   height: 3rem;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  direction: rtl;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    margin-bottom: 2PX;
    text-decoration: none;
    color: black;
 }
 .RowOfUserT .Add{
   width: 20px;
 }
 .RowOfUserT h5{
   font-size: 11px;
   text-align: center;
   padding-right: 20px;
 }
 .RowOfUserT:nth-child(2n+1){
   background-color: #E5E5E5;
 }
 
 .RowOfUserT .ArowUser{
   width: 10px;
 }

 .RowOfUserT h5:nth-child(2){
   width: 14rem;
   overflow: hidden;

}
.RowOfUserT h5:nth-child(3){
   width: 4rem;

}
.RowOfUserT h5:nth-child(4){
   width: 4rem;

}
.RowOfUserT h5:nth-child(5){
   width: 5rem;

}
.RowOfUserT h5:nth-child(6){
   width: 6rem;

 }

 .paginationuSER{
   width: 100%;
   height: 3rem;
   background-color: #F5F5F5 ;
   border-radius: 5px;
   display: flex;
   overflow: hidden;
   direction: rtl;
   justify-content: space-between;
   padding: 0 1rem;
   align-items: center;
   box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
   margin-top: 10px;
   
 }
 .paginationuSER .Actions{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .paginationuSER .Actions .ActionKind{
   width: 6rem;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 2px;
   
 }
 .paginationuSER .Actions .ActionKind h4{
   color: #0A426D;
   font-size: 13px;
   cursor: pointer;
 }
 .paginationuSER .Actions .ActionKind img{
   width: 20px;
   height: 20px;
   margin-right: 10px;
 }
 
 .paginationuSER .pages{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: right;
 }
 .paginationuSER .pages h5{
   margin: 0 0.5rem;
   font-family: "Nazanin" ;
   cursor: pointer;
   font-size: 15px;
 
 }
 .activePage{
   border-bottom: 1px solid black;
 }
 .paginationuSER .pages h5:nth-child(1){
   font-family: "Shabnam" ;
 }
 